<section class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="custom-heading display-2">ngx-gauge
      <span class="badge badge-default">1.0.0-beta</span>
    </h1>
    <p class="lead">A highly customizable gauge directive for Angular JS apps and dashboards. </p>
    <br>
    <div id="jumbo-action">
      <a class="btn btn-fill btn-lg" role="button" href="https://github.com/ashish-chopra/angular-gauge/releases" target="_blank">Download</a> &nbsp;
      <a class="btn btn-lg" role="button" href="https://github.com/ashish-chopra/angular-gauge" target="_blank">Code on GitHub</a>
    </div>
  </div>
</section>
<div class="container block">
  <h1>Getting Started</h1>
  <p>
    ngx-gauge is a highly customizable gauge directive for Angular JS apps and dashboards. It provides multitude of options
    to customize as per your needs.
  </p>
  <h4>Dependencies</h4>
  <p>
    This repository contains Angular JS directive for gauge widget. The only required dependency is:
  </p>
  <ul>
      <li>
          <a href="https://angularjs.org/" target="_blank">Angular JS</a> (1.4.14 or higher and anything less than or equal
          to 1.6.x)
      </li>
    </ul>

    <h4>How to Download?</h4>
    <p>The easiest way to download is with <b>npm</b>: </p>

    <div hljs hljs-language="bash" hljs-include="'code/npm'"></div>

    <p>or, you can install it with <b>bower</b>: </p>
    <div hljs hljs-language="bash" hljs-include="'code/bower'"></div>
    <p>otherwise, you can manually clone the <b>git</b> repository.</p>

    <h4>Installation</h4>
    <p>
        You need to include the dependencies in your page: </p>
    <div hljs hljs-include="'code/scripts'"></div>
    <p>
        As soon as you've got all the files downloaded and included in your page you just need to declare a dependency on the chart.js
        module:
    </p>
    <div hljs hljs-include="'code/import'"></div>
</div>