<section class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="custom-heading display-2">ngx-gauge
      <span class="badge badge-secondary">5.0.0</span>
    </h1>
    <p class="lead">A highly customizable gauge component for Angular apps and dashboards. </p>
    <br>
    <div id="jumbo-action">
      <a class="btn btn-fill btn-lg" role="button" href="https://www.npmjs.com/package/ngx-gauge"
        target="_blank">Download</a> &nbsp;
      <a class="btn btn-lg" role="button" href="https://github.com/ashish-chopra/ngx-gauge" target="_blank">Code on
        GitHub</a>
    </div>
  </div>
</section>
<div class="container block">
  <h1>Getting Started</h1>
  <p>
    ngx-gauge is a highly customizable gauge UI component for Angular apps and dashboards.
    It provides multitude of options to customize as per your needs.
  </p>
  
  <h4>Installation</h4>
  <p> Installing and setup is super easy 3-step process. </p>
  <p><b>Step 1: Install npm module</b></p>
  <pre [highlight]="step1Install" (highlighted)="onHighlight($event)"></pre>

  <p><b>Step 2: Import the <i>NgxGaugeModule</i> in your AppModule</b> <br>
    Make sure to import this module after BrowserModule as the import order matters.</p>
  <pre [highlight]="step2Install"></pre>

  <p><b>Step 3: Use Gauge component in HTML template</b> <br>
    NgxGaugeModule provides a <i>ngx-gauge</i> component which can be used in any angular template to render a gauge.
    It's configuration properties can be bind to a typescript variable as shown below:

  </p>
  <pre [highlight]="step3Install"></pre>
  <pre [highlight]="step3Install2"></pre>

</div>