<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!-- <ngx-gauge [value]="currentValue" [label]="'Label'"></ngx-gauge> -->
<button (click)="changeValue()">change</button>
<input type="checkbox" #checkbox>
<ngx-gauge class="gauge-width" [type]="'full'" [value]="value" [label]="'Residents'" [size]="400"
        [animate]="true" [cap]="'round'" [thick]="10" [foregroundColor]="'#FF0000'" [borderWidth]="borderWidth" 
        [backgroundColor]="'#EEEEEE'" [borderColor]="'#FFFF00'" [max]="100">
    </ngx-gauge>
<router-outlet></router-outlet>
