
.playground {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.playground > .playground-section {
    width: 47%;
    min-width: 300px;
}

.playground > .playground-section:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}
